@model WebPhoneBook.Models.Person
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Изменение @Model.LastName @Model.FirstName @Model.MiddleName</title>
</head>
<body>
    <div class="container">
        <h1 class="title__info">Изменение абонента</h1> 

        <form asp-action="Edit" method="post">
            <input asp-for="Id" hidden />
            <table class="table-2">
            <tbody>
                <tr>
                    <th>Фамилия</th>
                    <td class="edit_cell">
                        <input asp-for="LastName" class="input"/>
                    </td>
                </tr>
                <tr>
                    <th>Имя</th>
                    <td class="edit_cell">
                        <input asp-for="FirstName" class="input"/>
                    </td>
                </tr>
                <tr>
                    <th>Отчество</th>
                    <td class="edit_cell">
                        <input asp-for="MiddleName" class="input"/>
                    </td>
                </tr>
                <tr>
                    <th>Номер&nbsp;телефона</th>
                    <td class="edit_cell">
                        <input asp-for="PhoneNumber" class="input"/>
                    </td>
                </tr>
                <tr>
                    <th>Адрес</th>
                    <td class="edit_cell">
                        <input asp-for="Address" class="input"/>
                    </td>
                </tr>
                <tr>
                    <th>Описание</th>
                    <td class="edit_cell">
                        <textarea asp-for="Description" class="input"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn" type="submit">Обновить</button>
        </form>

        <div>
            <a asp-action="Index">На главную страницу</a>
        </div>
    </div>
</body>
</html>